﻿<!DOCTYPE html>
@using System.Data;
@using TrainingProject.Models;

@{
    var userlogin = Session["user"] as LoginModel;
}


<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/LayoutStyle.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Training Project", "LoginScreen", "Login", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @if (userlogin != null)
            {
                <div class="navbar-brand" id="username_display">
                    @userlogin.FirstName &nbsp;
                    @Html.ActionLink("Logout", "Index", "Login");

                    @*<input type="button" id="logout_btn" value="Logout" onclick="window.location='@Url.Action("Logout ", "Index","Login")'" />*@
                </div>
            }
        </div>
    </div>
    <div class="container body-content">
        <div style="font-size: 16px">
            @if (userlogin != null)
            {
                <br><br><br />
                <p>
                    @Html.ActionLink("Categories", " ", "Category") &nbsp;&nbsp;
                    @Html.ActionLink("Products", "", "Product")
                </p>
            }
        </div>
        @RenderBody()
        <hr />
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>y