﻿<!DOCTYPE html>
@using System.Data;
@using TrainingProject.Models;

@{
    var userlogin = Session["user"] as LoginModel;
}

<html>
<head>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.min.css">
    <link href="~/Content/LayoutStyle.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body class="login-main">
    
        <div class="container">
           
            @if (userlogin != null)
            {
                <div class="navbar-brand" id="username_display">
                    @userlogin.FirstName &nbsp;
                    @Html.ActionLink("Logout", "Index", "Login")

                    <input type="button" id="logout_btn" value="Logout" onclick="window.location='@Url.Action("Logout ", "Index","Login")'" />
                </div>

            }
        </div>
    
    <div class="container body-content">
        <div style="font-size: 16px">
            @if (userlogin != null)
            {
                <br><br><br />
                <p>
                    @Html.ActionLink("Categories", " ", "Category") &nbsp;&nbsp;
                    @Html.ActionLink("Products", "", "Product")
                </p>
            }
        </div>
        @RenderBody()
       
    </div>

</body>
</html>