@using System.Web.Optimization
@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" type="text/css" href="~/Content/CategoryListStyle.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">

@Scripts.Render("~/bundles/Project_Scripts")
@Scripts.Render("~/bundles/Bootstrap")


<div class="container" id="div_main">
    <div class="row">
        <div class="col-md-12">
            <div id="div_header">
                <text id="text_header">
                    <h2>
                        Dashboard
                    </h2>
                </text>
            </div>
            <br>
            <br>
            <div>
                <br>
                <div id="form-style">
                    @using (Html.BeginForm("InsertCategory", "Category"))
                    {
                        <table cellspacing="3" cellpadding="4">
                            <tr>
                                <td>
                                    <table class="table table-striped table-bordered" style="width:30%">
                                        <tr><th>Products</th></tr>
                                        <tr><td><a href="@Url.Action("Listing", "Product")">@TempData["Message_ProductCount"]</a></td></tr>
                                    </table>
                                </td>
                                <td>
                                    <table class="table table-striped table-bordered" style="width:30%">
                                        <tr><th>Categories</th></tr>
                                        <tr><td><a href="@Url.Action("Listing", "Category")">@TempData["Message_CategoryCount"]</a></td></tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>