@using System.Data;
@model System.Data.DataTable
@{
    ViewBag.Title = "CategoryPage_ListView";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/CategoryListStyle.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/CategoryList.js"></script>
</head>

<body>
    <div class="container-fluid" id="div_main">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-8">
                <div id="div_header">
                    <text id="text_header" , class="navbar-brand">
                        <h2>
                            @Html.ActionLink("Product Category", "ListCategory", "Category", new { id = "full_list" })
                        </h2>
                    </text>
                   
                    <input type="button" value="add new" id="text_link" onclick="window.location='@Url.Action("InsertCategory", "Category")'" />
                </div>
                <br>
                <form id="form_categorylsit">
                    <table cellspacing="9" cellpadding="6">
                        <tr id="table_head">
                            <th>Category ID</th>
                            <td></td>
                            <th>Name</th>
                            <td></td>
                            <th>Description</th>
                            <td></td>
                            <th>IsActive</th>
                        </tr>
                        @foreach (DataRow item in Model.Rows)
                        {
                            <tr>
                                <th>@item["CategoryId"].ToString()</th>
                                <td></td>
                                <td>@item["CategoryName"].ToString()</td>
                                <td></td>
                                <td>@item["CategoryDescription"].ToString()</td>
                                <td></td>
                                <td>@item["IsActive"].ToString()</td>
                                <td></td>
                                <td>
                                    <text id="link_edit"><a id="redirect_edit" href="@Url.Action("EditCategory", "Category", new { id = item["CategoryId"] })">edit</a></text> |
                                    <text id="link_delete"><a href="@Url.Action("DeleteCategory", "Category", new { id = item["CategoryId"] })">delete</a></text>
                                </td>
                            </tr>
                        }
                    </table>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</body>


