@model TrainingProject.Models.ProductModel
@{
    ViewBag.Title = "Products_Index";
}


<link rel="stylesheet" type="text/css" href="~/Content/ProductStyle.css">
<script src="~/Scripts/Product.js"></script>

<div class="container">

    <h1>PRODUCTS</h1>

    @using (Html.BeginForm("Products_Index", "Product", FormMethod.Post, new { id = "Product_Form" }))
    {

    <div class="form-group">
        <label for="usr">Product Name:</label>
        @Html.TextBoxFor(x => x.Product_name, new { @class = "form-control", name = "Product_name", @maxlength = "20", id = "Product_name" })
        <span hidden id="p_name" class="error">Please Enter a Valid Name</span>
    </div>

    <div class="form-group">
        <label for="usr">Price:</label>
        @Html.TextBoxFor(x => x.Price, new { @class = "form-control", name = "Price", @maxlength = "20", id = "Price" })
        <span hidden id="p_price" class="error">Please Enter a Valid Number</span>
    </div>

        <div class="form-group">
            <label for="usr">Number of Products:</label>
            @Html.TextBoxFor(x => x.NoOfProducts, new { @class = "form-control", name = "NoOfProducts", @maxlength = "20", id = "NoOfProducts" })
            <span hidden id="p_no" class="error">Please Enter a Valid Number</span>      
        </div>

        <div class="form-group">
            <label for="date">Visible Till: </label>
            @Html.TextBoxFor(x => x.Date, new { @type = "date", @class = "form-control", name = "date", id = "Date" })
            <span hidden id="p_date" class="error">Please Enter a Valid date</span>
        </div>


        <div class="form-group">
            <label for="Description">Description:</label>
            @Html.TextAreaFor(x => x.Description, new { id = "Description", @class = "form-control", @maxlength = "100", name = "Description" })
            <span hidden id="p_description" class="error">This field is required</span>
        </div>

        <div class="form-group">
            <label class="form-group"> Please Confirm if product is active </label>
            @Html.CheckBoxFor(x => x.IsActive, new { @id = "IsActive" })

        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-default "> Submit</button>
            <button type="reset" class="btn btn-default" id="reset_btn">Reset </button>
        </div>

    }

</div>
@*</body>*@


