@using TrainingProject.Models
@model IEnumerable<TrainingProject.Models.ProductModel>
@using System.Data;
@using System.Collections.Generic;

@{
    ViewBag.Title = "Listing";
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        $("#searchBox").focusout(function () {
            if ($(this).val() == "") {
                alert("Please Enter Something to Search");
                $("#searchBox").focusin();
            }
        });
    });


</script>


<head>
    <link rel="stylesheet" type="text/css" href="~/Content/ProductStyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/Scripts/Product.js"></script>
</head>

@using (Html.BeginForm("Listing", "Product", FormMethod.Post, new { id = "SearchForm" }))
{
    <h3 id="SearchText"> Search Product</h3>

    <input name="txtSearch" type="text" autocomplete="off" id="searchBox" value="@ViewBag.search" />

    @*<input id="searchBox" name="name" type="text" class="form-control" placeholder=" Product Name or Description" />*@
    <br />
    <input type="submit" id="searchBTN" class="btn btn-default" value="Search" />




    @ViewBag.SearchMessage;
}


<style>
    body {
        background-color: antiquewhite;
    }

    h1 {
        margin-left: 425px;
        font-family: Courier New;
        font-weight: bold;
    }

    table {
        font-family: Courier New;
    }

    th {
        font-weight: bold;
    }

    #SearchText {
        font-family: Courier New;
        font-weight: bold;
    }

    #SearchForm {
        margin-left: 900px;
        margin-top: 30px;
    }
</style>

<h1> Product List </h1>

<div class="container">
    <form>
        <table class="table table-hover">

            <tr>
                <th>Product_Name</th>
                <th>Price</th>
                <th>No of Products</th>
                <th>Visible Till</th>
                <th>Description</th>
                <th>IsActive</th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Product_name</td>
                    <td>@item.Price</td>
                    <td>@item.NoOfProducts</td>
                    <td>@item.Date</td>
                    <td>@item.Description</td>
                    <td>@item.IsActive</td>
                </tr>
            }
        </table>
    </form>
</div>





